/* .navbar{
    background-color: #dfebf2;
    color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid #dfebf2;
    padding: 2.5em;
}
.navbar h3{
    padding: 20px;
} */